.plan-section {
    background-color: bg-white;
    padding: 1rem 0;
  }
  
  .plan-container {
    display: flex;
    flex-direction: column;
  }
  .plan-container__title {
    margin: 0 auto;
    text-align: center;
    color: text-black;
  }
  .plan-container__title h3 {
    font-size: h3-size;
    font-family: text-font;
    font-weight: 500;
  }
  .plan-container__title h2 {
    font-size: h2-size;
    font-family: titles-font;
    margin: 1.3rem 0 3rem 0;
  }
  .plan-container__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    padding: 0 3rem;
  }
  @media (max-width: 800px) {
    .plan-container__boxes {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
    }
  }
  @media (max-width: 800px) {
    .plan-container__boxes {
      grid-template-columns: 1fr;
      margin-top: 1rem;
    }
  }
  .plan-container__boxes__box {
    text-align: center;
    padding: 1rem 6rem;
  }
  @media (max-width: 500px) {
    .plan-container__boxes__box {
      padding: 1rem 1rem;
    }
  }
  .plan-container__boxes__box img {
    width: 12rem;
    height: auto;
  }
  .plan-container__boxes__box h3 {
    font-size: h3-size;
    margin-bottom: 1rem;
  }
  .plan-container__boxes__box p {
    font-size: p-size;
    font-family: text-font;
    color: text-gray;
    line-height: 1.43;
  }

.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  margin: 10px 0 0;
}

.banner .highlight {
  color: #ff0000;
}

  