
.book-section {
    position: relative;
    background: linear-gradient(to bottom, #f0f0f0 20%, #ffffff 80%);
    padding: 50px 0;
  }
  
  .book-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .book-content__box {
    background-color: #fff;
    width: 100%;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .book-content__box h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
  }
  
  .error-message,
  .booking-done {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .booking-done {
    color: #2a6817;
    background-color: #c3fabe;
  }
  
  .error-message i,
  .booking-done i {
    cursor: pointer;
  }
  
  .box-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .box-form__car-type,
  .box-form__car-time {
    display: flex;
    flex-direction: column;
  }
  
  .box-form__car-type label,
  .box-form__car-time label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #555;
  }
  
  .box-form__car-type label i,
  .box-form__car-time label i {
    color: #ff5a5f;
  }
  
  .box-form__car-type select,
  .box-form__car-time input {
    font-size: 1rem;
    color: #555;
    border: 1px solid #ccd7e6;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
  }
  
  .box-form__car-time input {
    padding-right: 30px;
  }
  
  .box-form__car-time input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
  
  button {
    padding: 10px 10px;
    height: 60px;
    width: 150px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 150px;
    color: #fff;
    background-color: #d54a0a;
    box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
  }
  
  button:hover {
    box-shadow: 0 10px 15px rgba(255, 83, 48, 0.55);
  }
  
  .modal-overlay {
    opacity: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    top: 0;
    right: 0;
  }
  
  .active-modal {
    opacity: 1 !important;
    display: flex !important;
  }
  
  .booking-modal {
    opacity: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
    height: 90vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .booking-modal__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: #fff;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  
  .booking-modal__title h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .booking-modal__title i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .booking-modal__title i:hover {
    color: #ccc;
  }
  
  .booking-modal__message {
    padding: 20px;
    background-color: #ffeae6;
  }
  
  .booking-modal__message h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ff5a5f;
  }
  
  .booking-modal__message h4 i {
    font-size: 1.5rem;
  }
  
  .booking-modal__message p {
    font-size: 1rem;
    color: #777;
    font-weight: 500;
    line-height: 1.6;
  }
  
  .booking-modal__car-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #777;
  }
  
  .booking-modal__car-info__dates {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .booking-modal__car-info__dates h5 {
    font-size: 1.2rem;
    color: #ff5a5f;
  }
  
  .booking-modal__car-info__dates span {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .booking-modal__car-info__dates span i {
    font-size: 1.2rem;
    color: #777;
  }
  
  .booking-modal__car-info__dates span h6 {
    font-size: 1rem;
    margin: 0;
  }
  
  .booking-modal__car-info__dates span p {
    font-size: 1rem;
    color: #777;
  }
  
  .booking-modal__car-info__model {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px;
  }
  
  .booking-modal__car-info__model h5 {
    font-size: 1.2rem;
    color: #ff5a5f;
  }
  
  .booking-modal__car-info__model img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .booking-modal__person-info {
    padding: 20px;
  }
  
  .booking-modal__person-info h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #ff5a5f;
    margin-bottom: 20px;
  }
  
  .info-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .info-form__2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .info-form__1col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .info-form__2col span,
  .info-form__1col span {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .info-form__2col span label,
  .info-form__1col span label {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
  }
  
  .info-form__2col span label b,
  .info-form__1col span label b {
    color: #ff5a5f;
  }
  
  .info-form__2col span input,
  .info-form__1col span input {
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #555;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .info-form__checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    color: #555;
  }
  
  .info-form__checkbox input {
    width: 20px;
    height: 20px;
  }
  
  .reserve-button {
    text-align: right;
  }
  
  .reserve-button button {
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    background-color: #df590b;
    border: 1px solid #ff5a5f;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .reserve-button button:hover {
    background-color: #fe3516;
  }
  
  @media (max-width: 768px) {
    .box-form {
      grid-template-columns: 1fr;
    }
  
    .booking-modal__car-info {
      grid-template-columns: 1fr;
    }
  
    .reserve-button {
      text-align: center;
    }
  }

  .searchbtn {
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #4433ff;
    color: #4433ff;
  }
  .searchbtn:hover {
    color: #fff;
  }
  .searchbtn:hover:after {
    height: 100%;
  }
  .searchbtn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #4433ff;
  }
  